<div id="filterrific_results">



  <table>
    <tr>
      <th>Name</th>
      <th>City</th>
    </tr>
    <% tasks.each do |task| %>
      <tr>
        <td><%= task.city_id %></td>
      </tr>
    <% end %>
  </table>
</div>

