<head>
<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
</head>

<style>

body {
	color: white;
	font-family: 'Abel', sans-serif;
	text-align: center;
  margin-top: 630px;
  background-image: url("http://i.imgur.com/FLFmVn0.jpg");
  background-size: cover;

}

h1 {
	font-size: 70px;
	letter-spacing: 5px;
}


a {
    color: rgb(205,201,201);
    text-decoration: none;
    font-size: 28px;
}

a:hover 
{
     color: rgb(238,250,250); 
     text-decoration:none; 
     cursor:pointer;  
}

</style>
	<a><%= link_to 'Get started', cities_path %></a>
</body>
